<div class="container containerLogin p-2">
    <div class="container text-center" id="logoContainer">
        <img src="./assets/logo.png">
    </div>
    <div class="container text-center mt-2">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group form-group">
                <input type="text" formControlName="cpf" class="form-control" (keyup)="mCPF('login');" maxlength="14"
                    placeholder="CPF"
                    [ngClass]="{'is-invalid': fLogin.cpf.errors && (fLogin.cpf.dirty || fLogin.cpf.touched)}">
            </div>
            <div *ngIf="fLogin.cpf.errors && fLogin.cpf.touched" class="text-danger">
                <div *ngIf="fLogin.cpf.errors.required" class="mb-2">CPF is required</div>
            </div>
            <div class="input-group form-group">
                <input type="password" formControlName="senha" class="form-control" placeholder="Senha"
                    [ngClass]="{'is-invalid': fLogin.senha.errors && (fLogin.senha.dirty || fLogin.senha.touched)}">
            </div>
            <div *ngIf="fLogin.senha.errors && fLogin.senha.touched" class="text-danger">
                <div *ngIf="fLogin.senha.errors.required" class="mb-2">Senha is required</div>
            </div>
            <button class="btn  text-light" style="background-color: #7478fe;" [disabled]="loadingLogin">
                <span *ngIf="!loadingLogin" class="font-weight-bold">Enviar</span>
                <span *ngIf="loadingLogin" class="spinner-border spinner-border-sm text-light "></span>
            </button><br>
           <button type="button" class="btn font-weight-bold text-light mt-2" style="background-color: #67bcff;" data-toggle="modal" data-target="#novasenha">
                Esqueci minha senha
            </button>
        </form>
    </div>
</div>