<div class="flex-container">
    <form>
        <div class="col-12 row">
            <div class="col-12">
                CPF:
            </div>
            <div class="col-12">
                <input type="text" name="" class="col-12">
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-12">
                Senha:
            </div>
            <div class="col-12">
                <input type="text" name="" class="col-12">
            </div>
        </div>
    </form>
</div>
