<div class="container">
    <form>
        <div class="col-12 row">
            <div class="col-12">
                CPF:
            </div>
            <div class="col-12">
                <input type="text" name="" class=" form-control">
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-12">
                Senha:
            </div>
            <div class="col-12">
                <input type="text" name="" class="form-control">
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 20px;">
            <div class="col-12 col-sm-6">
                <button type="submit" class="btn form-control btn-dark"> Acessar </button>
            </div>
        </div>
    </form>
</div>
